#root {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.container-home {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.roboto-regular-20-black {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.roboto-medium-20-black {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.roboto-medium-16-black {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.roboto-medium-16-purple {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #6539D1;
  text-decoration: none;
  font-size: 16px;
}

.roboto-bold-32-black {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 32px;
}